<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">

  </head>
  <body>
    <nav>
          <a href="/hogwarts/wizards"><h2>List of Wizards</h2></a>
    </nav>
    <br/>
    <%= yield %>
  </body>
</html>
